/* this is a comment */
.button, button, button, button:hover {
  border: 1p solid silver;
}

input[type=submit] {
  border: 2px solid red;
}

button, input[type=submit] {
  background: lime;
}

a {
  color: blue;
}

table {
  font-weight: bold;
}

button + button {
  margin-left: 1em;
}

@supports (display: flex) {
  div {
    display: flex;
  }
}
